@import "~taro-ui/dist/style/components/flex.scss";

.title:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 10%;
  width: 8rpx;
  height: 80%;
  border-radius: 4rpx;
  background: #6190e8;
  margin-right: 6rpx;
}
.title {
  margin-left: 40rpx;
}